<a href="https://colab.research.google.com/github/DeveloperAkram/Colab-Notebooks/blob/master/01_Example_of_Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apriori Algorithm**

In [3]:
dataset = [['I1', 'I2', 'I5'], ['I2', 'I4'], ['I2', 'I3'], ['I1', 'I2', 'I4'],
           ['I1', 'I3'], ['I2', 'I3'], ['I1', 'I3'], ['I1', 'I2', 'I3', 'I5'],
           ['I1', 'I2', 'I3']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dataset

[['I1', 'I2', 'I5'],
 ['I2', 'I4'],
 ['I2', 'I3'],
 ['I1', 'I2', 'I4'],
 ['I1', 'I3'],
 ['I2', 'I3'],
 ['I1', 'I3'],
 ['I1', 'I2', 'I3', 'I5'],
 ['I1', 'I2', 'I3']]

In [5]:
te = TransactionEncoder()

te_ary = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_ary, columns=te.columns_)

df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [14]:
from mlxtend.frequent_patterns import  apriori

frequent_itemsets = apriori(df, min_support = 0.2, use_colnames = True)
frequent_itemsets

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I2, I1)
6   0.444444      (I3, I1)
7   0.222222      (I5, I1)
8   0.444444      (I2, I3)
9   0.222222      (I2, I4)
10  0.222222      (I2, I5)
11  0.222222  (I2, I3, I1)
12  0.222222  (I2, I5, I1)

In [15]:
from mlxtend.frequent_patterns import association_rules

result = association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.7)
result

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0        (I5)        (I1)            0.222222  ...  1.500000  0.074074         inf
1        (I4)        (I2)            0.222222  ...  1.285714  0.049383         inf
2        (I5)        (I2)            0.222222  ...  1.285714  0.049383         inf
3    (I2, I5)        (I1)            0.222222  ...  1.500000  0.074074         inf
4    (I1, I5)        (I2)            0.222222  ...  1.285714  0.049383         inf
5        (I5)    (I2, I1)            0.222222  ...  2.250000  0.123457         inf

[6 rows x 9 columns]

In [16]:
result1 = result[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
result1

  antecedents consequents   support  confidence      lift
0        (I5)        (I1)  0.222222         1.0  1.500000
1        (I4)        (I2)  0.222222         1.0  1.285714
2        (I5)        (I2)  0.222222         1.0  1.285714
3    (I2, I5)        (I1)  0.222222         1.0  1.500000
4    (I1, I5)        (I2)  0.222222         1.0  1.285714
5        (I5)    (I2, I1)  0.222222         1.0  2.250000